html
    head
        title= title
        link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css')
        script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js')
        script(src='/bootstrap/js/bootstrap.min.js')
    body

        div.container
            h1=message
            br
            div.row
                div.col-sm-3
                    h3=co_title
                div.col-sm-3
                    a(href="http://localhost:3000/").btn.btn-primary Reverse
            br
            table.table.table-hover
                thead
                    th='Full Name'
                    th='Email'
                    each item in items
                        th=item.item
                    
                tbody
                    each purchase, index in reversed
                        tr
                            td=index
                            td=purchase.email
                            each row in purchase.items
                                td=row
